<button (click)="onAddPerson()">Add Person</button>
Add top level object<br>

<button (click)="onAddAccount()">Add Savings Account</button>
Insert nested object array<br>

<button (click)="onEmptyAccount()">Empty First Savings Account</button>
Update nested object array<br>

<button (click)="onIncreaseAccount()">Increase Savings Account</button>
Update property of nested object array<br>

<button (click)="onChangeName()">Change Person Name</button>
Change top level object property<br>

<pre>{{person | json}}</pre>
